global {
        usage-count no;
}

common {

        handlers {

        }

        startup {

        }

        options {
 
        }

        disk {

        }

        net {
			protocol C;
			max-buffers 8000;
			max-epoch-size 8000;
        }
}