# リバースプロキシ設定
#
# フォワードプロキシを禁止
ProxyRequests off
# nocanon : URLパスをエンコードせずにそのままアプリケーションサーバに渡す
ProxyPass /gitlab http://localhost:{{ gitlab.nginx_port }}/gitlab nocanon
# アプリケーションサーバからの応答時にLocation, Content-Location, URI ヘッダを調整
ProxyPassReverse /gitlab http://localhost:{{ gitlab.nginx_port }}/gitlab
# エンコード済みパス分離文字を許可
AllowEncodedSlashes NoDecode